
body {
    margin: 0;
    line-height: normal;
}

.courses-section-child {
    position: absolute;
    top: 1316px;
    left: 0px;
    background: linear-gradient(-88.36deg, #ac95e3 8.43%, #fffdcb);
    width: 1440px;
    height: 293px;
    overflow: hidden;
    opacity: 0.46;
}
.tool-human-1 {
    position: absolute;
    top: 1457px;
    left: 720px;
    width: 100px;
    height: 100px;
}
.welcome-to-my {
    position: absolute;
    top: 116px;
    left: calc(50% - 218px);
    font-size: 48px;
    font-family: Almendra;
}
.courses-section-item {
    position: absolute;
    top: -192px;
    left: 931px;
    background-color: #b3abab;
    width: 1440px;
    height: 132px;
}
.home {
    position: absolute;
    top: 47px;
    left: 314px;
    font-family: Poppins;
    text-align: left;
    display: inline-block;
    width: 97px;
    height: 33px;
}
.s {
    position: absolute;
    top: 32px;
    right: 0px;
    font-size: 12px;
    font-family: Inter;
    text-align: left;
}
.courses-section-inner {
    position: absolute;
    top: 137px;
    left: 974px;
    border-radius: 10px;
    background-color: #d9d9d9;
    width: 1px;
    height: 1px;
}
.logo-icon {
    position: absolute;
    top: 2px;
    left: 27px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.button-sign-up-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 58px;
    background: linear-gradient(90deg, #fff, #90f3f9);
}
.sign-up {
    position: absolute;
    width: 58.14%;
    top: 24.44%;
    left: 20.93%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-sign-up {
    position: absolute;
    top: 41px;
    left: 918px;
    backdrop-filter: blur(10px);
    width: 129px;
    height: 45px;
    font-size: 20px;
}
.button-login-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 58px;
    background: linear-gradient(180deg, #ffc57c, #fff2e2);
}
.sign-up1 {
    position: absolute;
    width: 58.14%;
    top: 20%;
    left: 20.93%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-login {
    position: absolute;
    top: 38px;
    left: 1082px;
    backdrop-filter: blur(10px);
    width: 129px;
    height: 45px;
}
.user-profile-icon {
    position: absolute;
    top: 4px;
    left: 1317px;
    width: 100px;
    height: 100px;
}
.b86e1ae6-866d-4a42-a27f-2b786a-icon {
    position: absolute;
    top: 1731px;
    left: 1533px;
    width: 224px;
    height: 181px;
    overflow: hidden;
}
.ellipse-div {
    position: absolute;
    top: 668px;
    left: -65px;
    border-radius: 50%;
    background: linear-gradient(204.7deg, #0011ff, rgba(0, 0, 0, 0.1));
    width: 200px;
    height: 200px;
}
.courses-section-child1 {
    position: absolute;
    top: 172px;
    left: 1299px;
    border-radius: 50%;
    background: linear-gradient(129.37deg, #aff6bc, #66906e);
    width: 200px;
    height: 200px;
}
.course-vector-icon {
    position: absolute;
    top: 166px;
    left: 331px;
    border-radius: 89px;
    width: 705px;
    height: 622px;
}
.group-child {
    position: absolute;
    height: 31.32%;
    width: 23.09%;
    top: 6.67%;
    right: 3.59%;
    bottom: 62.01%;
    left: 73.33%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.course-covers-nutrition {
    position: absolute;
    top: 120px;
    left: 959px;
    font-size: 20px;
    font-family: Inter;
    color: #fff;
    display: inline-block;
    width: 300px;
    height: 108px;
}
.group-item {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 143.5px;
    background: linear-gradient(182.55deg, rgba(255, 255, 255, 0), rgba(248, 108, 255, 0.27) 45.4%, #f663fd);
}
.go-to-course {
    position: absolute;
    top: calc(50% - 19.5px);
    right: 0px;
}
.download-circle-duotone-line-icon {
    position: absolute;
    top: -7px;
    left: 0px;
    width: 60px;
    height: 60px;
    object-fit: contain;
}
.go-to-course-parent {
    position: absolute;
    height: 17.07%;
    width: 62.62%;
    top: 66.2%;
    right: 13.86%;
    bottom: 16.72%;
    left: 23.51%;
    box-shadow: 0px 15px 12px 1px rgba(54, 9, 53, 0.25);
    border-radius: 100px;
    background: linear-gradient(97.18deg, #00fffb 6.9%, rgba(126, 242, 255, 0.58) 59.31%, rgba(246, 234, 255, 0.1));
    border: 2px solid #000;
    box-sizing: border-box;
    overflow: hidden;
    opacity: 0.5;
}
.health-wellness {
    position: absolute;
    height: 15.33%;
    width: 65.1%;
    top: 8.01%;
    left: 16.83%;
    display: inline-block;
}
.rectangle-parent {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}
.group-wrapper {
    position: absolute;
    height: 30.37%;
    width: 30.7%;
    top: 5.61%;
    right: 0.3%;
    bottom: 64.02%;
    left: 69%;
}
.geography-icon {
    position: absolute;
    height: 83.28%;
    width: 88.61%;
    top: 11.15%;
    right: 6.19%;
    bottom: 5.57%;
    left: 5.2%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    opacity: 0.5;
}
.geography {
    position: absolute;
    height: 15.33%;
    width: 38.12%;
    top: 11.85%;
    left: 30.45%;
    background: linear-gradient(90deg, #0a0905, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
.go-to-course-group {
    position: absolute;
    height: 16.38%;
    width: 62.13%;
    top: 66.2%;
    right: 14.36%;
    bottom: 17.42%;
    left: 23.51%;
    box-shadow: 0px 15px 12px 1px rgba(54, 9, 53, 0.25);
    border-radius: 100px;
    background: linear-gradient(97.18deg, #00fffb 6.9%, rgba(126, 242, 255, 0.58) 59.31%, rgba(246, 234, 255, 0.1));
    border: 1px solid #000;
    box-sizing: border-box;
    overflow: hidden;
    opacity: 0.5;
}
.exploring-earths-landscapes {
    margin: 0;
}
.environments-and {
    margin: 0;
    white-space: pre-wrap;
}
.exploring-earths-landscapes-container {
    position: absolute;
    height: 31.71%;
    width: 78.47%;
    top: 26.13%;
    left: 10.4%;
    font-size: 20px;
    font-family: Inter;
    color: #fff6f6;
    display: inline-block;
}
.geography-parent {
    position: absolute;
    height: 30.37%;
    width: 30.7%;
    top: 52.06%;
    right: 0%;
    bottom: 17.57%;
    left: 69.3%;
}
.my-courses-icon {
    position: absolute;
    height: 17.16%;
    width: 16.2%;
    top: 41.59%;
    right: 40.41%;
    bottom: 41.25%;
    left: 43.39%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.math-icon {
    position: absolute;
    width: 30.7%;
    top: 562px;
    right: 69.3%;
    left: 0%;
    border-radius: 144.5px;
    max-width: 100%;
    overflow: hidden;
    height: 285.6px;
    object-fit: cover;
    opacity: 0.22;
    mix-blend-mode: hard-light;
}
.math {
    position: absolute;
    height: 15.33%;
    width: 20.05%;
    top: 13.24%;
    left: 39.85%;
    display: inline-block;
}
.learning-numbers-patterns-container {
    position: absolute;
    height: 32.4%;
    width: 84.65%;
    top: 28.57%;
    left: 7.67%;
    font-size: 20px;
    font-family: Kalnia;
    display: inline-block;
}
.rectangle-container {
    position: absolute;
    height: 30.37%;
    width: 30.7%;
    top: 59.15%;
    right: 69.3%;
    bottom: 10.48%;
    left: 0%;
}
.icon {
    position: absolute;
    top: 0px;
    left: 57px;
    border-radius: 64px;
    width: 287px;
    height: 287px;
    object-fit: cover;
    opacity: 0.5;
}
.group-div {
    position: absolute;
    height: 98.63%;
    width: 100%;
    top: 1.37%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}
.communication-skill {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 404px;
    height: 291px;
}
.h {
    font-size: 20px;
}
.child-communication-skills-container {
    position: absolute;
    top: 65px;
    left: 39px;
    letter-spacing: 0.08em;
    font-family: Kalnia;
    display: inline-block;
    width: 338px;
    height: 129px;
    font-size: 16px;
}
.communication-skill-parent {
    position: absolute;
    top: 654px;
    left: 477px;
    width: 404px;
    height: 291px;
}
.group-child2 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 143.5px;
    background: linear-gradient(182.55deg, rgba(255, 255, 255, 0), rgba(248, 108, 255, 0.27) 67.5%, #f663fd);
}
.studying-past-events-container {
    position: absolute;
    height: 32.4%;
    width: 83.66%;
    top: 31.36%;
    left: 8.66%;
    background: linear-gradient(90deg, #000, #008ea4 46%, #001e23 88.48%, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
.go-to-course-parent1 {
    position: absolute;
    height: 17.07%;
    width: 62.62%;
    top: 66.2%;
    right: 13.86%;
    bottom: 16.72%;
    left: 23.51%;
    box-shadow: 0px 15px 12px 1px rgba(54, 9, 53, 0.25);
    border-radius: 100px;
    background: linear-gradient(97.18deg, #00fffb 6.9%, rgba(126, 242, 255, 0.58) 59.31%, rgba(246, 234, 255, 0.1));
    border: 2px solid #000;
    box-sizing: border-box;
    overflow: hidden;
    opacity: 0.5;
    font-size: 32px;
    font-family: Jua;
}
.history {
    position: absolute;
    top: 38px;
    left: 150px;
    font-size: 32px;
    font-family: Jua;
}
.group-parent {
    position: absolute;
    height: 30.37%;
    width: 30.7%;
    top: 7.09%;
    right: 69.3%;
    bottom: 62.54%;
    left: 0%;
    font-size: 20px;
    font-family: Inter;
}
.group-icon {
    position: absolute;
    height: 97.62%;
    width: 70.79%;
    top: 0%;
    right: 11.63%;
    bottom: 2.38%;
    left: 17.57%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    opacity: 0.5;
}
.p1 {
    margin: 0;
    font-size: 20px;
}
.practicing-respectful-body-container {
    position: absolute;
    height: 32.4%;
    width: 76.24%;
    top: 29.27%;
    left: 12.13%;
    background: linear-gradient(90deg, #000, #008ea4 46%, #001e23 88.48%, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
.go-to-course-parent2 {
    position: absolute;
    height: 15.68%;
    width: 61.63%;
    top: 66.2%;
    right: 14.85%;
    bottom: 18.12%;
    left: 23.51%;
    box-shadow: 0px 15px 12px 1px rgba(54, 9, 53, 0.25);
    border-radius: 100px;
    background: linear-gradient(97.18deg, #00fffb 6.9%, rgba(126, 242, 255, 0.58) 59.31%, rgba(246, 234, 255, 0.1));
    overflow: hidden;
    opacity: 0.5;
    font-size: 32px;
    font-family: Jua;
}
.work-education {
    position: absolute;
    top: 38px;
    left: 93px;
    font-size: 32px;
    font-family: Jua;
}
.group-parent2 {
    position: absolute;
    height: 97.62%;
    width: 100%;
    top: 2.38%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}
.group-parent1 {
    position: absolute;
    height: 31.11%;
    width: 30.7%;
    top: 0%;
    right: 33.59%;
    bottom: 68.89%;
    left: 35.71%;
    font-size: 24px;
    font-family: Inter;
}
.group-child4 {
    position: absolute;
    height: 30.37%;
    width: 26.84%;
    top: 7.09%;
    right: 70.5%;
    bottom: 62.54%;
    left: 2.66%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.course-vector-parent {
    position: absolute;
    top: 232px;
    left: 62px;
    width: 1316px;
    height: 945px;
    text-align: left;
    font-size: 32px;
    font-family: Jua;
}
.mentorship {
    position: absolute;
    top: 75.07%;
    right: 21px;
}
.frame-child {
    position: absolute;
    height: 74.5%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 25.5%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.frame-item {
    position: absolute;
    top: 253px;
    left: 13px;
    width: 50px;
    height: 62px;
}
.mentorship-parent {
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 17px;
    background: linear-gradient(180deg, #ff8181, rgba(255, 255, 255, 0) 95.46%);
    width: 311px;
    height: 353px;
    overflow: hidden;
}
.frame-wrapper {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 311px;
    height: 353px;
}
.library {
    position: absolute;
    top: 0%;
    left: calc(50% - 19px);
}
.group-child5 {
    position: absolute;
    height: 100%;
    width: 28.49%;
    top: 0%;
    right: 71.51%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.library-parent {
    position: absolute;
    height: 17.56%;
    top: 77.34%;
    bottom: 5.1%;
    left: calc(50% - 83.5px);
    width: 172px;
}
.group-parent4 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 17px;
    background: linear-gradient(180deg, #05eeff, rgba(255, 255, 255, 0) 95.46%);
    width: 311px;
    height: 353px;
    overflow: hidden;
}
.frame-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 311px;
    height: 353px;
    font-size: 36px;
}
.group-parent3 {
    position: absolute;
    top: 1204px;
    right: 174px;
    width: 1092px;
    height: 353px;
    font-size: 32px;
    font-family: 'Annapurna SIL';
}
.courses-section {
    width: 100%;
    position: relative;
    background: linear-gradient(89.1deg, rgba(218, 48, 104, 0.01) 0.44%, rgba(20, 70, 159, 0.9));
    border: 1px solid #000;
    box-sizing: border-box;
    height: 1912px;
    overflow: hidden;
    text-align: center;
    font-size: 24px;
    color: #000;
    font-family: Alice;
}

