
body {
    margin: 0;
    line-height: normal;
}

.desktop-3 {
    position: absolute;
    top: 154px;
    left: 1px;
    width: 1440px;
    height: 1024px;
    overflow: hidden;
    opacity: 0.21;
}
.welcome-to-my {
    position: absolute;
    top: 116px;
    left: calc(50% - 218px);
    font-size: 48px;
    font-family: Almendra;
    text-align: center;
}
.group-icon {
    position: absolute;
    height: 8.79%;
    width: 14.28%;
    top: 21.65%;
    right: 5.44%;
    bottom: 69.56%;
    left: 80.28%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.courses-section-child {
    position: absolute;
    top: -192px;
    left: 931px;
    background-color: #b3abab;
    width: 1440px;
    height: 132px;
}
.home {
    position: absolute;
    top: 47px;
    left: 314px;
    font-size: 24px;
    font-family: Poppins;
    display: inline-block;
    width: 97px;
    height: 33px;
}
.s {
    position: absolute;
    top: 32px;
    right: 0px;
    font-size: 12px;
    font-family: Inter;
}
.courses-section-item {
    position: absolute;
    top: 137px;
    left: 974px;
    border-radius: 10px;
    background-color: #d9d9d9;
    width: 1px;
    height: 1px;
}
.logo-icon {
    position: absolute;
    top: 2px;
    left: 27px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.my-courses-icon {
    position: absolute;
    height: 8.48%;
    width: 14.81%;
    top: 32.69%;
    right: 43.04%;
    bottom: 58.83%;
    left: 42.15%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.geography-icon {
    position: absolute;
    height: 83.28%;
    width: 88.61%;
    top: 11.15%;
    right: 6.19%;
    bottom: 5.57%;
    left: 5.2%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    opacity: 0.5;
}
.group-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 143.5px;
    background: linear-gradient(182.55deg, rgba(255, 255, 255, 0), rgba(248, 108, 255, 0.27) 45.4%, #f663fd);
}
.geography {
    position: absolute;
    height: 15.33%;
    width: 38.12%;
    top: 11.85%;
    left: 30.45%;
    background: linear-gradient(90deg, #0a0905, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
.go-to-course {
    position: absolute;
    top: calc(50% - 19.5px);
    right: 0px;
}
.download-circle-duotone-line-icon {
    position: absolute;
    top: -7px;
    left: 0px;
    width: 60px;
    height: 60px;
    object-fit: contain;
}
.go-to-course-parent {
    position: absolute;
    height: 16.38%;
    width: 62.13%;
    top: 66.2%;
    right: 14.36%;
    bottom: 17.42%;
    left: 23.51%;
    box-shadow: 0px 15px 12px 1px rgba(54, 9, 53, 0.25);
    border-radius: 100px;
    background: linear-gradient(97.18deg, #00fffb 6.9%, rgba(126, 242, 255, 0.58) 59.31%, rgba(246, 234, 255, 0.1));
    border: 1px solid #000;
    box-sizing: border-box;
    overflow: hidden;
    opacity: 0.5;
}
.group-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}
.exploring-earths-landscapes {
    margin: 0;
}
.environments-and {
    margin: 0;
    white-space: pre-wrap;
}
.exploring-earths-landscapes-container {
    position: absolute;
    height: 31.71%;
    width: 78.47%;
    top: 26.13%;
    left: 10.4%;
    font-size: 20px;
    font-family: Inter;
    color: #fff6f6;
    display: inline-block;
}
.geography-parent {
    position: absolute;
    height: 15.01%;
    width: 28.06%;
    top: 41.37%;
    right: 2.5%;
    bottom: 43.62%;
    left: 69.44%;
}
.math-icon {
    position: absolute;
    width: 28.06%;
    top: 794px;
    right: 69.44%;
    left: 2.5%;
    border-radius: 144.5px;
    max-width: 100%;
    overflow: hidden;
    height: 285.6px;
    object-fit: cover;
    opacity: 0.22;
    mix-blend-mode: hard-light;
}
.math {
    position: absolute;
    height: 15.33%;
    width: 20.05%;
    top: 13.24%;
    left: 39.85%;
    display: inline-block;
}
.learning-numbers-patterns-container {
    position: absolute;
    height: 32.4%;
    width: 84.65%;
    top: 28.57%;
    left: 7.67%;
    font-size: 20px;
    font-family: Kalnia;
    display: inline-block;
}
.go-to-course-group {
    position: absolute;
    height: 17.07%;
    width: 62.62%;
    top: 65.51%;
    right: 14.36%;
    bottom: 17.42%;
    left: 23.02%;
    box-shadow: 0px 15px 12px 1px rgba(54, 9, 53, 0.25);
    border-radius: 100px;
    background: linear-gradient(97.18deg, #00fffb 6.9%, rgba(126, 242, 255, 0.58) 59.31%, rgba(246, 234, 255, 0.1));
    border: 2px solid #000;
    box-sizing: border-box;
    overflow: hidden;
    opacity: 0.5;
}
.rectangle-group {
    position: absolute;
    height: 15.01%;
    width: 28.06%;
    top: 41.37%;
    right: 69.44%;
    bottom: 43.62%;
    left: 2.5%;
}
.icon {
    position: absolute;
    top: 0px;
    left: 57px;
    border-radius: 64px;
    width: 287px;
    height: 287px;
    object-fit: cover;
    opacity: 0.5;
}
.go-to-course-container {
    position: absolute;
    height: 17.07%;
    width: 62.62%;
    top: 66.2%;
    right: 13.86%;
    bottom: 16.72%;
    left: 23.51%;
    box-shadow: 0px 15px 12px 1px rgba(54, 9, 53, 0.25);
    border-radius: 100px;
    background: linear-gradient(97.18deg, #00fffb 6.9%, rgba(126, 242, 255, 0.58) 59.31%, rgba(246, 234, 255, 0.1));
    border: 2px solid #000;
    box-sizing: border-box;
    overflow: hidden;
    opacity: 0.5;
}
.rectangle-container {
    position: absolute;
    height: 98.63%;
    width: 100%;
    top: 1.37%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}
.communication-skill {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 404px;
    height: 291px;
}
.h {
    font-size: 20px;
}
.child-communication-skills-container {
    position: absolute;
    top: 65px;
    left: 39px;
    letter-spacing: 0.08em;
    font-family: Kalnia;
    display: inline-block;
    width: 338px;
    height: 129px;
    font-size: 16px;
}
.communication-skill-parent {
    position: absolute;
    top: 886px;
    left: 513px;
    width: 404px;
    height: 291px;
}
.rectangle-div {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 143.5px;
    background: linear-gradient(182.55deg, rgba(255, 255, 255, 0), rgba(248, 108, 255, 0.27) 67.5%, #f663fd);
}
.studying-past-events-container {
    position: absolute;
    height: 32.4%;
    width: 83.66%;
    top: 31.36%;
    left: 8.66%;
    background: linear-gradient(90deg, #000, #008ea4 46%, #001e23 88.48%, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
.frame-div {
    position: absolute;
    height: 17.07%;
    width: 62.62%;
    top: 66.2%;
    right: 13.86%;
    bottom: 16.72%;
    left: 23.51%;
    box-shadow: 0px 15px 12px 1px rgba(54, 9, 53, 0.25);
    border-radius: 100px;
    background: linear-gradient(97.18deg, #00fffb 6.9%, rgba(126, 242, 255, 0.58) 59.31%, rgba(246, 234, 255, 0.1));
    border: 2px solid #000;
    box-sizing: border-box;
    overflow: hidden;
    opacity: 0.5;
    font-size: 32px;
    font-family: Jua;
}
.group-div {
    position: absolute;
    height: 99.31%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0.69%;
    left: 0%;
}
.history {
    position: absolute;
    top: 38px;
    left: 150px;
    font-size: 32px;
    font-family: Jua;
}
.history-icon {
    position: absolute;
    height: 99.31%;
    width: 87.43%;
    top: 0.69%;
    right: 6.39%;
    bottom: 0%;
    left: 6.19%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    opacity: 0.44;
}
.group-parent {
    position: absolute;
    height: 15.12%;
    width: 28.06%;
    top: 15.64%;
    right: 69.44%;
    bottom: 69.25%;
    left: 2.5%;
    font-size: 20px;
    font-family: Inter;
}
.work-education-icon {
    position: absolute;
    height: 100%;
    width: 70.79%;
    top: 0%;
    right: 14.36%;
    bottom: 0%;
    left: 14.85%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    opacity: 0.5;
}
.p1 {
    margin: 0;
    font-size: 20px;
}
.practicing-respectful-body-container {
    position: absolute;
    height: 32.4%;
    width: 76.24%;
    top: 29.27%;
    left: 12.13%;
    background: linear-gradient(90deg, #000, #008ea4 46%, #001e23 88.48%, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
.go-to-course-parent1 {
    position: absolute;
    height: 15.68%;
    width: 61.63%;
    top: 66.2%;
    right: 14.85%;
    bottom: 18.12%;
    left: 23.51%;
    box-shadow: 0px 15px 12px 1px rgba(54, 9, 53, 0.25);
    border-radius: 100px;
    background: linear-gradient(97.18deg, #00fffb 6.9%, rgba(126, 242, 255, 0.58) 59.31%, rgba(246, 234, 255, 0.1));
    overflow: hidden;
    opacity: 0.5;
    font-size: 32px;
    font-family: Jua;
}
.work-education {
    position: absolute;
    top: 38px;
    left: 93px;
    font-size: 32px;
    font-family: Jua;
}
.work-education-parent {
    position: absolute;
    height: 15.01%;
    width: 28.06%;
    top: 12.5%;
    right: 36.81%;
    bottom: 72.49%;
    left: 35.14%;
    font-size: 24px;
    font-family: Inter;
}
.button-sign-up-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 58px;
    background: linear-gradient(90deg, #fff, #90f3f9);
}
.sign-up {
    position: absolute;
    width: 58.14%;
    top: 24.44%;
    left: 20.93%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-sign-up {
    position: absolute;
    top: 41px;
    left: 918px;
    backdrop-filter: blur(10px);
    width: 129px;
    height: 45px;
    text-align: center;
    font-size: 20px;
    font-family: Alice;
}
.button-login-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 58px;
    background: linear-gradient(180deg, #ffc57c, #fff2e2);
}
.sign-up1 {
    position: absolute;
    width: 58.14%;
    top: 20%;
    left: 20.93%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-login {
    position: absolute;
    top: 38px;
    left: 1082px;
    backdrop-filter: blur(10px);
    width: 129px;
    height: 45px;
    text-align: center;
    font-size: 24px;
    font-family: Alice;
}
.health-wellness {
    position: absolute;
    height: 15.33%;
    width: 65.1%;
    top: 8.01%;
    left: 16.83%;
    display: inline-block;
}
.group-frame {
    position: absolute;
    height: 95.35%;
    width: 100%;
    top: 4.65%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}
.course-covers-nutrition {
    position: absolute;
    top: 81px;
    left: 51px;
    font-size: 20px;
    font-family: Inter;
    color: #fff;
    display: inline-block;
    width: 300px;
    height: 108px;
}
.heqalth-and-wellness-icon {
    position: absolute;
    height: 98.34%;
    width: 75.2%;
    top: 0%;
    right: 16.88%;
    bottom: 1.66%;
    left: 7.92%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    opacity: 0.22;
}
.group-parent1 {
    position: absolute;
    height: 15.74%;
    width: 28.06%;
    top: 15.64%;
    right: 2.5%;
    bottom: 68.62%;
    left: 69.44%;
}
.tool-human-1 {
    position: absolute;
    top: 77px;
    left: 720px;
    width: 100px;
    height: 100px;
}
.desktop-4 {
    position: absolute;
    top: 1380px;
    left: calc(50% - 720px);
    background: linear-gradient(119.15deg, rgba(247, 247, 247, 0.89), rgba(145, 145, 145, 0.18));
    width: 1440px;
    height: 360px;
    overflow: hidden;
}
.user-profile-icon {
    position: absolute;
    top: 4px;
    left: 1317px;
    width: 100px;
    height: 100px;
}
.library {
    position: absolute;
    top: 74.5%;
    left: calc(50% - 51.5px);
}
.group-icon2 {
    position: absolute;
    height: 17.56%;
    width: 15.76%;
    top: 74.5%;
    right: 72.35%;
    bottom: 7.93%;
    left: 11.9%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.library-parent {
    position: absolute;
    top: 1225px;
    left: 229px;
    border-radius: 17px;
    background: linear-gradient(180deg, #05eeff, rgba(255, 255, 255, 0) 95.46%);
    width: 311px;
    height: 353px;
    overflow: hidden;
    text-align: center;
    font-size: 36px;
    font-family: 'Annapurna SIL';
}
.objects-icon {
    position: absolute;
    height: 74.5%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 25.5%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.mentorship {
    position: absolute;
    top: 75.07%;
    right: 21px;
}
.file-1-icon {
    position: absolute;
    top: 259px;
    left: 11px;
    width: 50px;
    height: 62px;
    overflow: hidden;
}
.objects-parent {
    position: absolute;
    top: 1211px;
    right: 229px;
    border-radius: 17px;
    background: linear-gradient(180deg, #ff8181, rgba(255, 255, 255, 0) 95.46%);
    width: 311px;
    height: 353px;
    overflow: hidden;
    text-align: center;
    font-family: 'Annapurna SIL';
}
.b86e1ae6-866d-4a42-a27f-2b786a-icon {
    position: absolute;
    top: 1731px;
    left: 1533px;
    width: 224px;
    height: 181px;
    overflow: hidden;
}
.courses-section {
    width: 100%;
    position: relative;
    background: linear-gradient(89.1deg, rgba(218, 48, 104, 0.01) 0.44%, rgba(20, 70, 159, 0.9));
    border: 1px solid #000;
    box-sizing: border-box;
    height: 1912px;
    overflow: hidden;
    text-align: left;
    font-size: 32px;
    color: #000;
    font-family: Jua;
}

