.course-access {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: linear-gradient(98.79deg, rgba(142, 138, 138, 0.15), rgba(53, 64, 224, 0.15));
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    max-width: 1246px;
    margin: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    padding: 20px;
}

.grid-item {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.grid-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.grid-item div {
    margin-bottom: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .grid-item {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .grid-item {
        width: 100%;
    }
}
