
body {
    margin: 0;
    line-height: normal;
}

.course-page-icon {
    position: absolute;
    height: 43.89%;
    width: 68.54%;
    top: 5.19%;
    right: 15.76%;
    bottom: 50.91%;
    left: 15.69%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.library-section {
    position: absolute;
    top: 750px;
    left: calc(50% - 575px);
    box-shadow: 0px 0px 42.1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background: linear-gradient(90deg, #e7e7e7, rgba(255, 255, 255, 0.5));
    border: 1px solid #000;
    box-sizing: border-box;
    width: 1150px;
    height: 300px;
    overflow: hidden;
}
.history1 {
    position: absolute;
    top: 0px;
    left: calc(50% - 62px);
}
.homework-7117327-1-icon {
    position: absolute;
    top: 29px;
    left: calc(50% - 60px);
    width: 120px;
    height: 120px;
    object-fit: cover;
}
.visit-now {
    position: absolute;
    top: 23px;
    left: 68px;
}
.send-fill-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 70.7px;
    height: 70.7px;
    object-fit: contain;
}
.visit-now-parent {
    position: absolute;
    top: 168px;
    left: 0px;
    width: 155px;
    height: 70.7px;
    font-size: 20px;
    font-family: 'Inclusive Sans';
}
.history {
    position: absolute;
    top: 582px;
    left: 965px;
    box-shadow: 7px 4px 19.6px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    background: linear-gradient(92.25deg, #ffcccc, #fff);
    width: 246px;
    height: 239px;
    overflow: hidden;
}
.logo-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.digital-arena-library {
    margin: 0;
}
.digital-arena-library-container {
    position: absolute;
    top: 45px;
    left: calc(50% - 257px);
    letter-spacing: 0.18em;
    font-family: 'Jersey 25';
    display: inline-block;
    width: 514px;
    height: 52px;
}
.online-class-6988481-1-icon {
    position: absolute;
    top: 44px;
    left: calc(50% - 60px);
    width: 120px;
    height: 120px;
    object-fit: cover;
}
.math {
    position: absolute;
    top: 0px;
    left: calc(50% - 43px);
}
.maths {
    position: absolute;
    top: 582px;
    left: 229px;
    box-shadow: 7px 4px 19.6px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    background: linear-gradient(92.25deg, #ffcccc, #fff);
    width: 246px;
    height: 239px;
    overflow: hidden;
}
.stem1 {
    position: absolute;
    top: 0px;
    left: calc(50% - 47px);
}
.knowledge-11240289-1-icon {
    position: absolute;
    top: 36px;
    left: calc(50% - 60px);
    width: 120px;
    height: 120px;
    object-fit: cover;
}
.stem {
    position: absolute;
    top: 582px;
    left: 597px;
    box-shadow: 7px 4px 19.6px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    background: linear-gradient(92.25deg, #ffcccc, #fff);
    width: 246px;
    height: 239px;
    overflow: hidden;
}
.teaching-18752109-1-icon {
    position: absolute;
    top: 74px;
    left: calc(50% - 60px);
    width: 120px;
    height: 120px;
    object-fit: cover;
}
.group-div {
    position: absolute;
    top: 168px;
    left: 0px;
    width: 155px;
    height: 70.7px;
}
.communications-skills {
    position: absolute;
    top: 938px;
    left: 597px;
    box-shadow: 7px 4px 19.6px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    background: linear-gradient(92.25deg, #ffcccc, #fff);
    width: 246px;
    height: 239px;
    overflow: hidden;
    font-size: 20px;
    font-family: 'Inclusive Sans';
}
.health-wellness1 {
    position: absolute;
    top: 0px;
    left: calc(50% - 78px);
    display: inline-block;
    width: 156px;
}
.education-17101426-1-icon {
    position: absolute;
    top: 73px;
    left: calc(50% - 60px);
    width: 120px;
    height: 120px;
    object-fit: cover;
}
.health-wellness {
    position: absolute;
    top: 938px;
    left: 229px;
    box-shadow: 7px 4px 19.6px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    background: linear-gradient(92.25deg, #ffcccc, #fff);
    width: 246px;
    height: 239px;
    overflow: hidden;
    font-size: 36px;
}
.communication-skill {
    position: absolute;
    top: 945px;
    left: calc(50% - 118px);
    font-size: 32px;
    text-align: center;
    display: inline-block;
    width: 236px;
}
.go-to-home {
    position: absolute;
    top: 47px;
    left: 189px;
    font-size: 32px;
    line-height: 116.35%;
    display: inline-block;
    width: 164px;
    height: 46px;
}
.geography1 {
    position: absolute;
    top: 0px;
    left: calc(50% - 92px);
}
.education-4694375-1-icon {
    position: absolute;
    top: 53px;
    left: calc(50% - 60px);
    width: 120px;
    height: 120px;
    object-fit: cover;
}
.visit-now5 {
    position: absolute;
    top: 23px;
    left: 71px;
}
.visit-now-parent2 {
    position: absolute;
    top: 168px;
    left: 0px;
    width: 158px;
    height: 70.7px;
    font-size: 20px;
    font-family: 'Inclusive Sans';
}
.geography {
    position: absolute;
    top: 938px;
    left: 970px;
    box-shadow: 7px 4px 19.6px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    background: linear-gradient(92.25deg, #ffcccc, #fff);
    width: 246px;
    height: 239px;
    overflow: hidden;
}
.think-beyond-imaginations {
    position: absolute;
    top: 99px;
    left: calc(50% - 470px);
    font-size: 128px;
    font-family: 'Just Me Again Down Here';
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 966px;
    height: 147px;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.library-couse {
    width: 100%;
    position: relative;
    box-shadow: 55px 72px 86.8px rgba(168, 168, 168, 0.25) inset;
    background-color: #fff;
    height: 1367px;
    overflow: hidden;
    text-align: left;
    font-size: 40px;
    color: #000;
    font-family: Judson;
}

