
body {
    margin: 0;
    line-height: normal;
}



.math-course-child {
    position: absolute;
    height: 19.04%;
    width: 17.78%;
    top: 28.42%;
    right: 19.93%;
    bottom: 52.54%;
    left: 62.29%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.math-course-item {
    position: absolute;
    top: 65px;
    left: 1025px;
    width: 415px;
    height: 300px;
}
.logo-icon {
    position: absolute;
    top: calc(50% - 512px);
    left: 0px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.math {
    position: absolute;
    top: 22px;
    left: calc(50% - 57px);
    font-family: 'Inknut Antiqua';
    text-align: left;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.enhance-math-skill {
    margin: 0;
}
.enhance-math-skill-container {
    position: absolute;
    top: 376px;
    left: calc(50% - 247px);
    letter-spacing: 0.08em;
    line-height: 128.13%;
}
.doubt-engine-1 {
    position: absolute;
    top: 87px;
    left: 1220px;
    width: 220px;
    height: 220px;
    overflow: hidden;
}
.how-may-i-container {
    position: absolute;
    top: 175px;
    left: 1049px;
    letter-spacing: 0.08em;
    line-height: 128.13%;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.math-course-inner {
    position: absolute;
    top: 500px;
    left: calc(50% - 720px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    background-color: #fbfbfb;
    width: 1440px;
    height: 524px;
}
.rectangle-div {
    position: absolute;
    top: 512px;
    left: calc(50% - 667px);
    border-radius: 24px;
    background-color: #e9e8fa;
    width: 1350px;
    height: 60px;
}
.group-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 13px;
    background-color: #fff;
    width: 118px;
    height: 50px;
}
.videos {
    position: absolute;
    top: calc(50% - 18px);
    left: calc(50% - 54px);
    letter-spacing: 0.08em;
    line-height: 128.13%;
}
.rectangle-parent {
    position: absolute;
    top: 517px;
    left: 109px;
    width: 118px;
    height: 50px;
    font-size: 28px;
}
.notes {
    position: absolute;
    top: calc(50% - 18px);
    left: calc(50% - 50px);
    letter-spacing: 0.08em;
    line-height: 128.13%;
}
.rectangle-group {
    position: absolute;
    top: 517px;
    left: 463px;
    width: 118px;
    height: 50px;
    font-size: 28px;
}
.group-inner {
    position: absolute;
    top: 0px;
    left: 4.7px;
    border-radius: 13px;
    background-color: #fff;
    width: 138.6px;
    height: 50px;
}
.quizzez {
    position: absolute;
    top: calc(50% - 18px);
    left: calc(50% - 74px);
    letter-spacing: 0.08em;
    line-height: 128.13%;
    display: inline-block;
    width: 148px;
}
.rectangle-container {
    position: absolute;
    top: 517px;
    left: 271px;
    width: 148px;
    height: 50px;
    font-size: 28px;
}
.button-login-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 58px;
    background: linear-gradient(180deg, #ffc57c, #fff2e2);
}
.sign-up {
    position: absolute;
    width: 58.14%;
    top: 20%;
    left: 20.93%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-login {
    position: absolute;
    top: 27px;
    left: 1186px;
    backdrop-filter: blur(10px);
    width: 129px;
    height: 45px;
    font-size: 24px;
    font-family: Alice;
}
.button-sign-up-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 58px;
    background: linear-gradient(90deg, #fff, rgba(198, 144, 249, 0.26));
}
.sign-up1 {
    position: absolute;
    width: 58.14%;
    top: 24.44%;
    left: 20.93%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-sign-up {
    position: absolute;
    top: 27px;
    left: 996px;
    backdrop-filter: blur(10px);
    width: 129px;
    height: 45px;
    font-size: 20px;
    font-family: Alice;
}
.home {
    position: absolute;
    top: 31px;
    left: 198px;
    font-size: 32px;
    font-family: Alice;
}
.group-icon {
    position: absolute;
    height: 98.73%;
    width: 67.46%;
    top: 0%;
    right: 32.54%;
    bottom: 1.27%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
}
.group-icon1 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon2 {
    position: absolute;
    height: 1.83%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 98.17%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon3 {
    position: absolute;
    height: 1.83%;
    width: 100%;
    top: 10.45%;
    right: 0%;
    bottom: 87.72%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon4 {
    position: absolute;
    height: 1.83%;
    width: 100%;
    top: 22.14%;
    right: 0%;
    bottom: 76.02%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon5 {
    position: absolute;
    height: 1.83%;
    width: 100%;
    top: 32.59%;
    right: 0%;
    bottom: 65.58%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon6 {
    position: absolute;
    height: 1.83%;
    width: 100%;
    top: 44.3%;
    right: 0%;
    bottom: 53.86%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon7 {
    position: absolute;
    height: 1.83%;
    width: 100%;
    top: 54.74%;
    right: 0%;
    bottom: 43.42%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon8 {
    position: absolute;
    height: 1.83%;
    width: 100%;
    top: 64.95%;
    right: 0%;
    bottom: 33.22%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon9 {
    position: absolute;
    height: 1.83%;
    width: 100%;
    top: 75.4%;
    right: 0%;
    bottom: 22.77%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon10 {
    position: absolute;
    height: 1.83%;
    width: 100%;
    top: 87.7%;
    right: 0%;
    bottom: 10.47%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon11 {
    position: absolute;
    height: 1.83%;
    width: 100%;
    top: 98.15%;
    right: 0%;
    bottom: 0.02%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon12 {
    position: absolute;
    height: 98.9%;
    width: 99.88%;
    top: 1.09%;
    right: 0.05%;
    bottom: 0.01%;
    left: 0.07%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group4 {
    position: absolute;
    height: 73.95%;
    width: 83.35%;
    top: 12.01%;
    right: 7.85%;
    bottom: 14.04%;
    left: 8.8%;
}
.group-icon13 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 9.79%;
    right: 56.58%;
    bottom: 84.37%;
    left: 37.64%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon14 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 9.79%;
    right: 50.67%;
    bottom: 84.37%;
    left: 43.55%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon15 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 9.79%;
    right: 44.76%;
    bottom: 84.37%;
    left: 49.47%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon16 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 9.79%;
    right: 38.84%;
    bottom: 84.37%;
    left: 55.38%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon17 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 9.79%;
    right: 32.92%;
    bottom: 84.37%;
    left: 61.3%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon18 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 9.79%;
    right: 27.02%;
    bottom: 84.37%;
    left: 67.21%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon19 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 9.79%;
    right: 21.1%;
    bottom: 84.37%;
    left: 73.12%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon20 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 9.79%;
    right: 15.19%;
    bottom: 84.37%;
    left: 79.04%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon21 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 9.79%;
    right: 9.27%;
    bottom: 84.37%;
    left: 84.95%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon22 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 82.37%;
    right: 83.82%;
    bottom: 11.8%;
    left: 10.4%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon23 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 82.37%;
    right: 77.91%;
    bottom: 11.8%;
    left: 16.32%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon24 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 82.37%;
    right: 71.99%;
    bottom: 11.8%;
    left: 22.23%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon25 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 82.37%;
    right: 66.08%;
    bottom: 11.8%;
    left: 28.14%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon26 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 82.37%;
    right: 60.17%;
    bottom: 11.8%;
    left: 34.05%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon27 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 82.37%;
    right: 54.25%;
    bottom: 11.8%;
    left: 39.97%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon28 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 82.37%;
    right: 48.34%;
    bottom: 11.8%;
    left: 45.88%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon29 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 82.37%;
    right: 42.42%;
    bottom: 11.8%;
    left: 51.8%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon30 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 82.37%;
    right: 36.51%;
    bottom: 11.8%;
    left: 57.71%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon31 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 74.64%;
    right: 83.82%;
    bottom: 19.52%;
    left: 10.4%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon32 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 74.64%;
    right: 77.91%;
    bottom: 19.52%;
    left: 16.32%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon33 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 74.64%;
    right: 71.99%;
    bottom: 19.52%;
    left: 22.23%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon34 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 74.64%;
    right: 66.08%;
    bottom: 19.52%;
    left: 28.14%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon35 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 74.64%;
    right: 60.17%;
    bottom: 19.52%;
    left: 34.05%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon36 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 74.64%;
    right: 54.25%;
    bottom: 19.52%;
    left: 39.97%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon37 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 74.64%;
    right: 48.34%;
    bottom: 19.52%;
    left: 45.88%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon38 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 74.64%;
    right: 42.42%;
    bottom: 19.52%;
    left: 51.8%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon39 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 74.64%;
    right: 36.51%;
    bottom: 19.52%;
    left: 57.71%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon40 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 65.7%;
    right: 83.82%;
    bottom: 28.47%;
    left: 10.4%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon41 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 65.7%;
    right: 77.91%;
    bottom: 28.47%;
    left: 16.32%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon42 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 65.7%;
    right: 71.99%;
    bottom: 28.47%;
    left: 22.23%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon43 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 65.7%;
    right: 66.08%;
    bottom: 28.47%;
    left: 28.14%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon44 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 65.7%;
    right: 60.17%;
    bottom: 28.47%;
    left: 34.05%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon45 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 65.7%;
    right: 54.25%;
    bottom: 28.47%;
    left: 39.97%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon46 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 65.7%;
    right: 48.34%;
    bottom: 28.47%;
    left: 45.88%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon47 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 65.7%;
    right: 42.42%;
    bottom: 28.47%;
    left: 51.8%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon48 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 57.82%;
    right: 83.82%;
    bottom: 36.34%;
    left: 10.4%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon49 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 57.82%;
    right: 77.91%;
    bottom: 36.34%;
    left: 16.32%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon50 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 57.82%;
    right: 71.99%;
    bottom: 36.34%;
    left: 22.23%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon51 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 57.82%;
    right: 66.08%;
    bottom: 36.34%;
    left: 28.14%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon52 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 57.82%;
    right: 60.17%;
    bottom: 36.34%;
    left: 34.05%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon53 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 57.82%;
    right: 54.25%;
    bottom: 36.34%;
    left: 39.97%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon54 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 50.27%;
    right: 83.82%;
    bottom: 43.89%;
    left: 10.4%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon55 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 50.27%;
    right: 77.91%;
    bottom: 43.89%;
    left: 16.32%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon56 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 50.27%;
    right: 71.99%;
    bottom: 43.89%;
    left: 22.23%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon57 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 50.27%;
    right: 66.08%;
    bottom: 43.89%;
    left: 28.14%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon58 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 50.27%;
    right: 60.17%;
    bottom: 43.89%;
    left: 34.05%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon59 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 42.55%;
    right: 83.82%;
    bottom: 51.61%;
    left: 10.4%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon60 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 42.55%;
    right: 77.91%;
    bottom: 51.61%;
    left: 16.32%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon61 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 42.55%;
    right: 71.99%;
    bottom: 51.61%;
    left: 22.23%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon62 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 42.55%;
    right: 66.08%;
    bottom: 51.61%;
    left: 28.14%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon63 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 33.89%;
    right: 83.82%;
    bottom: 60.28%;
    left: 10.4%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon64 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 33.89%;
    right: 77.91%;
    bottom: 60.28%;
    left: 16.32%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon65 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 33.89%;
    right: 71.99%;
    bottom: 60.28%;
    left: 22.23%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon66 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 26.16%;
    right: 83.82%;
    bottom: 68%;
    left: 10.4%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon67 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 26.16%;
    right: 77.91%;
    bottom: 68%;
    left: 16.32%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon68 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 17.52%;
    right: 83.82%;
    bottom: 76.65%;
    left: 10.4%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon69 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 9.79%;
    right: 83.82%;
    bottom: 84.37%;
    left: 10.4%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon70 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 17.52%;
    right: 77.91%;
    bottom: 76.65%;
    left: 16.32%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon71 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 26.16%;
    right: 71.99%;
    bottom: 68%;
    left: 22.23%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon72 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 33.89%;
    right: 66.08%;
    bottom: 60.28%;
    left: 28.14%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon73 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 42.55%;
    right: 60.17%;
    bottom: 51.61%;
    left: 34.05%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon74 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 50.27%;
    right: 54.25%;
    bottom: 43.89%;
    left: 39.97%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon75 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 57.82%;
    right: 48.34%;
    bottom: 36.34%;
    left: 45.88%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon76 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 82.37%;
    right: 30.58%;
    bottom: 11.8%;
    left: 63.64%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon77 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 17.52%;
    right: 50.67%;
    bottom: 76.65%;
    left: 43.55%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon78 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 17.52%;
    right: 44.76%;
    bottom: 76.65%;
    left: 49.47%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon79 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 17.52%;
    right: 38.84%;
    bottom: 76.65%;
    left: 55.38%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon80 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 17.52%;
    right: 32.92%;
    bottom: 76.65%;
    left: 61.3%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon81 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 17.52%;
    right: 27.02%;
    bottom: 76.65%;
    left: 67.21%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon82 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 17.52%;
    right: 21.1%;
    bottom: 76.65%;
    left: 73.12%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon83 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 17.52%;
    right: 15.19%;
    bottom: 76.65%;
    left: 79.04%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon84 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 17.52%;
    right: 9.27%;
    bottom: 76.65%;
    left: 84.95%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon85 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 26.16%;
    right: 44.76%;
    bottom: 68%;
    left: 49.47%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon86 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 26.16%;
    right: 38.84%;
    bottom: 68%;
    left: 55.38%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon87 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 26.16%;
    right: 32.92%;
    bottom: 68%;
    left: 61.3%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon88 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 26.16%;
    right: 27.02%;
    bottom: 68%;
    left: 67.21%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon89 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 26.16%;
    right: 21.1%;
    bottom: 68%;
    left: 73.12%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon90 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 26.16%;
    right: 15.19%;
    bottom: 68%;
    left: 79.04%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon91 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 26.16%;
    right: 9.27%;
    bottom: 68%;
    left: 84.95%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon92 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 33.89%;
    right: 38.84%;
    bottom: 60.28%;
    left: 55.38%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon93 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 33.89%;
    right: 32.92%;
    bottom: 60.28%;
    left: 61.3%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon94 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 33.89%;
    right: 27.02%;
    bottom: 60.28%;
    left: 67.21%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon95 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 33.89%;
    right: 21.1%;
    bottom: 60.28%;
    left: 73.12%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon96 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 33.89%;
    right: 15.19%;
    bottom: 60.28%;
    left: 79.04%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon97 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 33.89%;
    right: 9.27%;
    bottom: 60.28%;
    left: 84.95%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon98 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 42.55%;
    right: 32.92%;
    bottom: 51.61%;
    left: 61.3%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon99 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 42.55%;
    right: 27.02%;
    bottom: 51.61%;
    left: 67.21%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon100 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 42.55%;
    right: 21.1%;
    bottom: 51.61%;
    left: 73.12%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon101 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 42.55%;
    right: 15.19%;
    bottom: 51.61%;
    left: 79.04%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon102 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 42.55%;
    right: 9.27%;
    bottom: 51.61%;
    left: 84.95%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon103 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 50.27%;
    right: 27.02%;
    bottom: 43.89%;
    left: 67.21%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon104 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 50.27%;
    right: 21.1%;
    bottom: 43.89%;
    left: 73.12%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon105 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 50.27%;
    right: 15.19%;
    bottom: 43.89%;
    left: 79.04%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon106 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 50.27%;
    right: 9.27%;
    bottom: 43.89%;
    left: 84.95%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon107 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 57.71%;
    right: 21.1%;
    bottom: 36.46%;
    left: 73.12%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon108 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 57.71%;
    right: 15.19%;
    bottom: 36.46%;
    left: 79.04%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon109 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 57.71%;
    right: 9.27%;
    bottom: 36.46%;
    left: 84.95%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon110 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 65.54%;
    right: 15.19%;
    bottom: 28.62%;
    left: 79.04%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon111 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 65.54%;
    right: 9.27%;
    bottom: 28.62%;
    left: 84.95%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon112 {
    position: absolute;
    height: 5.83%;
    width: 5.78%;
    top: 74.64%;
    right: 9.27%;
    bottom: 19.52%;
    left: 84.95%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group3 {
    position: absolute;
    height: 58.63%;
    width: 49.3%;
    top: 41.4%;
    right: 0%;
    bottom: -0.03%;
    left: 50.7%;
}
.group2 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}
.group1 {
    position: absolute;
    height: 56.6%;
    width: 71.88%;
    top: 0%;
    right: 16.43%;
    bottom: 43.4%;
    left: 11.68%;
}
.group-icon113 {
    position: absolute;
    height: 48.13%;
    width: 100%;
    top: 51.87%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group {
    position: absolute;
    height: 96.99%;
    width: 97%;
    top: 1.5%;
    right: 1.5%;
    bottom: 1.51%;
    left: 1.5%;
}
.maths-course-1 {
    position: absolute;
    top: 125px;
    left: calc(50% - 149px);
    width: 297px;
    height: 229px;
    overflow: hidden;
}
.math-course-child1 {
    position: absolute;
    top: 127px;
    left: 211px;
    width: 224.9px;
    height: 308.7px;
}
.group-child1 {
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    background: linear-gradient(90deg, #f8dada, #fff);
    width: 220px;
    height: 52px;
}
.click-here {
    position: absolute;
    top: 7px;
    left: 67px;
}
.load-circle-icon {
    position: absolute;
    top: 1px;
    left: 10px;
    width: 50px;
    height: 50px;
    object-fit: contain;
}
.group-div {
    position: absolute;
    top: 291px;
    left: 1150px;
    width: 220px;
    height: 52px;
    font-size: 32px;
    font-family: Alice;
}
.math-course {
    width: 100%;
    position: relative;
    background-color: rgba(255, 255, 255, 0.27);
    border: 1px solid #000;
    box-sizing: border-box;
    height: 1024px;
    overflow: hidden;
    text-align: center;
    font-size: 40px;
    color: #000;
    font-family: 'Pontano Sans';
}

