
body {
    margin: 0;
    line-height: normal;
}

.stem-course-child {
    position: absolute;
    height: 19.04%;
    width: 17.78%;
    top: 28.42%;
    right: 19.93%;
    bottom: 52.54%;
    left: 62.29%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.stem-course-item {
    position: absolute;
    top: 65px;
    left: 1025px;
    width: 415px;
    height: 300px;
}
.logo-icon {
    position: absolute;
    top: calc(50% - 512px);
    left: 0px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.stem {
    position: absolute;
    top: 22px;
    left: calc(50% - 57px);
    font-family: 'Inknut Antiqua';
    text-align: left;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.enhance-math-skill {
    margin: 0;
}
.enhance-math-skill-container {
    position: absolute;
    top: 376px;
    left: calc(50% - 247px);
    letter-spacing: 0.08em;
    line-height: 128.13%;
}
.doubt-engine-1 {
    position: absolute;
    top: 87px;
    left: 1220px;
    width: 220px;
    height: 220px;
    overflow: hidden;
}
.how-may-i-container {
    position: absolute;
    top: 175px;
    left: 1049px;
    letter-spacing: 0.08em;
    line-height: 128.13%;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.stem-course-inner {
    position: absolute;
    top: 500px;
    left: calc(50% - 720px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    background-color: #fbfbfb;
    width: 1440px;
    height: 524px;
}
.rectangle-div {
    position: absolute;
    top: 512px;
    left: calc(50% - 667px);
    border-radius: 24px;
    background-color: #e9e8fa;
    width: 1350px;
    height: 60px;
}
.group-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 13px;
    background-color: #fff;
    width: 118px;
    height: 50px;
}
.videos {
    position: absolute;
    top: calc(50% - 18px);
    left: calc(50% - 54px);
    letter-spacing: 0.08em;
    line-height: 128.13%;
}
.rectangle-parent {
    position: absolute;
    top: 517px;
    left: 109px;
    width: 118px;
    height: 50px;
    font-size: 28px;
}
.notes {
    position: absolute;
    top: calc(50% - 18px);
    left: calc(50% - 50px);
    letter-spacing: 0.08em;
    line-height: 128.13%;
}
.rectangle-group {
    position: absolute;
    top: 517px;
    left: 463px;
    width: 118px;
    height: 50px;
    font-size: 28px;
}
.group-inner {
    position: absolute;
    top: 0px;
    left: 4.7px;
    border-radius: 13px;
    background-color: #fff;
    width: 138.6px;
    height: 50px;
}
.quizzez {
    position: absolute;
    top: calc(50% - 18px);
    left: calc(50% - 74px);
    letter-spacing: 0.08em;
    line-height: 128.13%;
    display: inline-block;
    width: 148px;
}
.rectangle-container {
    position: absolute;
    top: 517px;
    left: 271px;
    width: 148px;
    height: 50px;
    font-size: 28px;
}
.button-login-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 58px;
    background: linear-gradient(180deg, #ffc57c, #fff2e2);
}
.sign-up {
    position: absolute;
    width: 58.14%;
    top: 20%;
    left: 20.93%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-login {
    position: absolute;
    top: 27px;
    left: 1186px;
    backdrop-filter: blur(10px);
    width: 129px;
    height: 45px;
    font-size: 24px;
    font-family: Alice;
}
.button-sign-up-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 58px;
    background: linear-gradient(90deg, #fff, rgba(198, 144, 249, 0.26));
}
.sign-up1 {
    position: absolute;
    width: 58.14%;
    top: 24.44%;
    left: 20.93%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-sign-up {
    position: absolute;
    top: 27px;
    left: 996px;
    backdrop-filter: blur(10px);
    width: 129px;
    height: 45px;
    font-size: 20px;
    font-family: Alice;
}
.home {
    position: absolute;
    top: 31px;
    left: 198px;
    font-size: 32px;
    font-family: Alice;
}
.group-icon {
    position: absolute;
    top: 127px;
    left: 211px;
    width: 224.9px;
    height: 308.7px;
}
.group-child1 {
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    background: linear-gradient(90deg, #f8dada, #fff);
    width: 220px;
    height: 52px;
}
.click-here {
    position: absolute;
    top: 7px;
    left: 67px;
}
.load-circle-icon {
    position: absolute;
    top: 1px;
    left: 10px;
    width: 50px;
    height: 50px;
    object-fit: contain;
}
.group-div {
    position: absolute;
    top: 291px;
    left: 1150px;
    width: 220px;
    height: 52px;
    font-size: 32px;
    font-family: Alice;
}
.school-and-education-03-1 {
    position: absolute;
    top: 119px;
    left: calc(50% - 126px);
    width: 252px;
    height: 252px;
    object-fit: cover;
}
.stem-course {
    width: 100%;
    position: relative;
    background-color: rgba(255, 255, 255, 0.27);
    border: 1px solid #000;
    box-sizing: border-box;
    height: 1024px;
    overflow: hidden;
    text-align: center;
    font-size: 40px;
    color: #000;
    font-family: 'Pontano Sans';
}

